{% extends "base.html" %}
{% load static %}
{% block scripts %}
    {# | is template filter, turns problem_list context variable into json which can be accessible by train.js #}
    {{ problem_list|json_script:"problem_list" }}
    <script src="{% static 'js/train.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Koios {{ base_problem }} Training Page </h1>
    <p>Welcome to Koios, a website developed by <em>Ming</em>!</p>


    {% for problem_instance in problem_list %}
        <div class = "cycle-hide">
            <p id="problem_instance_{{ problem_instance.id }}"> {{ problem_instance.problem }} </p>
            <input type = 'text' id = "{{ problem_instance.id }}_input"></input>
        </div>
    {% endfor %}
{% endblock %}
