{% extends "base.html" %}
{% load static %}
{% block scripts %}
    {# | is template filter, turns problem_list context variable into json which can be accessible by train.js #}
    {{ problem_list|json_script:"problem_list" }}
    <script src="{% static 'js/train.js' %}"></script>

    {# mathjax script for rendering latex #}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
{% endblock %}

{% block content %}
    <div>
        <h1 class = "centred">Koios {{ base_problem }} Training Page </h1>
    </div>

    <div class = "centred">
        {% for problem_instance in problem_list %}
            <div class = "cycle-hide">
                <p id="problem_instance_{{ problem_instance.id }}" class = "problem"> {{ problem_instance.problem }} </p>
                <input type = 'text' id = "{{ problem_instance.id }}_input" class = "answer-input"></input>
            </div>
        {% endfor %}
    </div>

    <div class = "centred" id = "results-page">
        <h1> SOLUTIONS </h1>
        {% for problem_instance in problem_list %}
            <span class = "centred">
                <p> Question : {{ problem_instance.problem }} </p>
                <p id = "time_taken_{{ problem_instance.id }}"></p>
                <p> Answer : \({{ problem_instance.solution }}\) </p>
            </span>
        {% endfor %}
        {# the refresh button to train more problems #}
        <button type="button" onclick = "window.location.reload()" class="btn btn-primary refresh-button">Train</button>
    </div>

{% endblock %}


